/* CSS for Dodgers page */
html{
	background-color: #C4CED3;
}

.dodgersHeader{
	font-family: Helvetica, sans-serif;
	font-size: 250%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	background-color: #005A9C;
	border: 10px solid #EF3E42;
	margin-left: -10px;
	margin-right: -10px;
}

body {
	margin: 1%;
}

article {
	float: right;
	border: 10px solid #EF3E42;
	background-color: #005A9C;
color: white;
	padding: 20px;
	margin: 5%;
	width: 25%;
	text-align: center;
}
iframe{
	margin: 5%;
	border: 10px solid #EF3E42;
	text-align: center;

}
footer{
	position: relative;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	background-color: #005A9C;
	border: 10px solid #EF3E42;
}
a{
	color: greenyellow;
}
a:visited{
	color: hotpink;
}



