/* CSS for home page */
html{
	background-image: url(../images/background.jpeg);
	background-color: moccasin;
}
.homeHeader {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #009A17;
	border: 10px solid white;
	margin-left: -10px;
	margin-right: -10px;
}
body {
	display: grid;
	margin: 3%;
}

form {
	background-color: #009A17;
	padding: 100px;
	width: 20%;
	font-size: 30px;
	text-align: center;
	margin: auto;
	border: 10px solid white;
	margin-top: 50px;
	font-weight: bold;
}
.clock{
	text-align: center;
	background: #009A17;
	width: 50%;
	margin: auto;
	border: 10px solid white;
	margin-top: 50px;
}
h3.clock{
	border: none;
	font-size:25px;
}
#clock{
	font-size: 50px;
}

a{
	color: greenyellow;
}
a:visited{
	color: hotpink;
}